h1, h2 {
  color: #3A3B3C ;
}

p {
  color: #6D6D6D;
}
  
  
  ul {
  border: 1px solid white;
}

ol {
  border: 1px solid white;
}

ol, ul {
  padding: 10px 20px;
  border-radius: 2px;
}
   
   
   h1, strong {
  color: #3A3B3C;
}

em {
  color: black;
}

body {
  margin: 40px;
}

.main-head {
  grid-area: header;
  background-color:  #FCBACB;
  color: #3A3B3C;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}
.content1 {
  grid-area: content1;
  background-color:  #FCBACB;
  color: #3A3B3C;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.content2 {
  grid-area: content2;
  background-color:  #FCBACB;
  color: #3A3B3C;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.content3 {
  grid-area: content3;
  background-color:  #FCBACB;
  color: #3A3B3C;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}
.main-nav {
  grid-area: nav;
  background-color:  #FCBACB;
  color: #3A3B3C;
  padding: 20px;
  font-size: 100%;
}

.main-footer {
  grid-area: footer;
  background-color:  #FCBACB;
  color: #3A3B3C;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content1"
    "content2"
    "content3"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
    grid-template-areas:
      "header  header header"
      "nav nav nav"
      "content1 content2 content3"
      "footer   footer   footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}