h1, h2 {
    color: orange;
  }
  
  p {
    color: gray;
  }
    
    
    ul {
    border: 1px solid orange;
  }
  
  ol {
    border: 1px solid green;
  }
  
  ol, ul {
    padding: 2px 20px;
    border-radius: 2px;
  }
     
     
     h1, strong {
    color: Green;
  }
  
  em {
    color: gray;
  }
    
